<h1>Edit Cheese</h1>

<form action="<%= cheese_path(@cheese) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="PUT" />

  <label for="name">Name</label>
  <br>
  <input id="name" type="text" name="cheese[name]" value="<%= @cheese.name %>"/>
  <br>

  <label for="milk_type">Milk_type</label>
  <br>
  <input id="milk_type" type="text" name="cheese[milk_type]" value="<%= @cheese.milk_type%>"/>
  <br>

  <label for="description">Description</label>
  <br>
  <textarea id="description" name="cheese[description]"><%= @cheese.description %></textarea>
  <br>



  <input type="submit" value="Save" /> | <%= link_to "Cancel", cheese_path(@cheese) %>
</form>
